/* Fontes */

    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body style */

body {
    background-image: url(./media/fundo-liso-rosa-e-amarelo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main p {
    text-align: center;
    color: black;
    font-size: 16px;
}

main .container {
    max-width: 300px;
    width: 100%;
    margin: 150px auto;
    height: 250px;
    background-color: #fff;
    display: block;
    text-align: start;
    border-radius: 5px;
    padding: 36px 18px;
    box-shadow: 0px 0px 20px rgb(110, 110, 110);
}

main .container h1 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

main .container a {
    display: none;
}

main .container #success {
    display: none;
    color: green;
    text-align: center;
    margin-bottom: 12px;
}

main .container #fail {
    display: none;
    color: red;
}

main .container .border {
    background-image: url(./media/fundo-liso-rosa-e-amarelo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 6px;
    width: 34px;
    border-radius: 20px;
    position: relative;
    top: -7px;
    margin-bottom: 18px;
}

main .container input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 265px;
    margin-bottom: 12px;
    padding-bottom: 8px;
    text-align: center;
}

main .container input:focus {
    outline: none;
    border-bottom: 1px solid rgb(160, 160, 160);
}

main .container .submit {
    margin-top: 12px;
    width: 265px;
    height: 32px;
    background-image: linear-gradient(to right, rgb(255, 120, 142), rgb(250, 72, 101));
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
}

main .container .success-button {
    display: none;
    margin-top: 12px;
    width: 265px;
    height: 32px;
    background-image: linear-gradient(to right, rgb(45, 250, 45), rgb(175, 235, 62));
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: auto;
    font-family: sans-serif;
}

main .container .submit:hover {
    background-image: linear-gradient(to right, rgb(252, 147, 165), rgb(255, 97, 123));
}